body {
    font-family: 'Poppins', serif;
}

.nav-item {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar-nav {
    margin-left: 100px;
}

#cover-image {

    width: 100%;

}

#cover-image-container {
    padding: 0px;
}

#page_title {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#title_header {
    font-size: 56px;
}

#title_subheader {
    font-style: italic;
    font-size: 19px;
}


.form__container {
    background: #fff;
    margin: 0 auto;
    margin-top: 16px;
    padding: 32px;
    border-radius: 4px;
  }


.announcement_left {
    text-align: left;
    margin-left: 20px;
}

.announcement_right {
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
}

#announcement {
    color: white;
    background: black;
    padding-top: 20px;
    padding-bottom: 2px;
    margin-top: 50px;

}

.section-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.card-text {
    text-align: center;
}

.album {
    margin-bottom: 50px;
}

.far, .fab {
    color:white;
}

#about_text {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
}

h2 {
    text-align: center;
}

.about_background {
    background-color: lightgray;
    padding: 20px;
    max-width: 900px;
    border-radius: 10px
}

.gallery_title {
    margin-top: 10px;
}

#about_pic {
    padding-right: 50px;
    padding-left: 50px;
}

#gallery {
    padding-top: 20px;
}

#about {
    padding-top: 100px;
}

